* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

img {
  border-radius: 2%;
}

.product {
  background-color: #fff;
  max-width: 35rem;
  margin: 200px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 2%;
}

.perfume-title {
  padding: 10px;
  margin-top: 20px;
  font-family: "montserrat";
  font-weight: 500;
  font-size: 13px;
  color: hsl(228, 12%, 48%);
}

.product-title {
  padding: 10px;
  font-size: 34px;
  line-height: 1;
  font-family: "fraunces";
  font-weight: 700;
  color: hsl(212, 21%, 14%);
}

.product-description {
  padding: 10px;
  line-height: 1.5;
  font-family: "montserrat";
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}

.discounted-price {
  font-family: "fraunces";
  font-weight: 700;
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}

.before-price {
  font-family: "montserrat";
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
